.favorite-list-container {
  position: fixed;
  top: 0;
  left: 0;
  transition: all .3s ease;
  width: 100vw;
  height: 100vh;
  background: rgba($color: #505050, $alpha: 0.8);
  backdrop-filter: blur(3px);
  color: white;
  z-index: 2;

  &.hidden {
    display: none;
  }

  .favorite-list {
    overflow-y: auto;
    height: inherit;

    .favorite-card {
      position: relative;
      display: flex;
      flex-direction: row;

      .info-ctn {
        flex: 1;
        padding: 5px;
      }

      .control-bar {
        display: flex;
        flex-direction: column;

        img {
          width: 32px;
          cursor: pointer;
          margin: 2px;
        }
      }
    }
  }

}

.favorite-display-icon {
  position: fixed;
  bottom: 0;
  right: 0;
  cursor: pointer;
  color: white;
  z-index: 3;
}