.search-bar-container {
  $prime-color: #319DFB;
  $background: rgba($color: #505050, $alpha: 0.7);
  position: fixed;
  top: 0;
  left: 0;
  // transition: all .2s ease;
  transition: all 0.2s cubic-bezier(0.39, 0.12, 0.25, 1.6);

  &.drawer-hidden {
    background: $background;
    top: -40px;
  }

  .search-part {
    display: flex;
    background: $background;
    backdrop-filter: blur(2px);
    padding: 7px;

    .search-text {
      background-color: rgba(0, 0, 0, 0.5);
      border: none;
      color: #fff;
      caret-color: #fff;
      padding: 0 3px;

      &:focus {
        outline: none !important;
        border: 1px solid $prime-color;
        box-shadow: 0 0 10px #719ECE;
      }
    }

    img {
      padding: 0 2px;
      cursor: pointer;
    }
  }

  .toggle-part {
    background: $background;
    backdrop-filter: blur(2px);
    position: absolute;
    width: 60px;
    height: 30px;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    text-align: center;
    color: #fff;
    user-select: none;
    cursor: pointer;
  }
}