.video-list-container {
  overflow-y: auto;
  height: 100%;
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row;


  .gallery {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    .card {
      display: flex;
      flex-direction: column;
      word-break: break-word;
      padding: 2px;
      margin: 2px;
      max-width: 600px;
      max-height: 450px;

      // box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
      .card-img {
        position: relative;

        img {
          width: 100%;
          // cursor: pointer;
        }

        .like-btn {
          position: absolute;
          top: 0;
          right: 0;
          z-index: 1;
          width: 24px;
          filter: drop-shadow(1px 1px 0.75rem crimson);
          cursor: pointer;
        }

        .duration-time {
          position: absolute;
          bottom: 0;
          right: 0;
          padding: 4px;
          background: #00000066;
        }
      }

      .card-desc {
        flex: 1;
      }

      .tool-bar {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        img {
          height: 40px;
          cursor: pointer;
        }
      }
    }
  }


  ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    word-wrap: break-word;

    li.card {
      position: relative;
      display: flex;
      flex-direction: column;
      height: 400px;
      width: 400px;
      word-wrap: break-word;

      .card-img {}

      .card-title {}

      .card-desc {}
    }
  }
}